{erl_opts,
 [ debug_info
 , {parse_transform, purerl_optimiser}
 , {parse_transform, avp_optimiser}
 %%, {d, 'PURERL_MEMOIZE', 1}
 ]}.

{src_dirs, ["erl_src", "output"]}.

{deps, [ {purerl_optimiser, {git,"https://github.com/id3as/purerl-optimiser.git", {branch, main}}}
       ]}.


{profiles, [ {dist, [ {src_dirs, ["erl_src", "output"]}
                    ]}
           ]}.
